body{
    background: rgba(63, 94, 251, 0.25);
}

.header {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    height: 10vh;
    width: 98vw;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.3rem;
}


.logo{
    height: 12vh;
    width: 10vw;
}

article{
    display: block;
    width: 90%;
    background: #161a42;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    border-radius: 1.25rem;
    padding: 1.5rem;
    margin-top: 4rem;
    font-family: Bahnschrift, serif;
    color: #FFF86E;
    position: relative;
    margin-bottom: 2rem;
}

a{
    text-decoration: none;
}

p {
    margin-right: 15vw;
}

footer {
    height: 10vh;
    width: 98vw;
    border-radius: 1rem;
    background: #222;
    color: #ffffff;
    text-align: center;
    position: absolute;
}



/* --------img-------- */

.sieste {
    height: 20vh;
    width: 14vw;
    position: absolute;
    top: 46%;
    right: 1rem;
    transform: translateY(-50%);
}

.cactus {
    height: 20vh;
    width: 14vw;
    position: absolute;
    top: 46%;
    right: 1rem;
    transform: translateY(-50%);
}

.rire {
    height: 20vh;
    width: 14vw;
    position: absolute;
    top: 46%;
    right: 1rem;
    transform: translateY(-50%);
}

.cocktail {
    height: 20vh;
    width: 14vw;
    position: absolute;
    top: 46%;
    right: 1rem;
    transform: translateY(-50%);
}

.meditation {
    height: 20vh;
    width: 14vw;
    position: absolute;
    top: 46%;
    right: 1rem;
    transform: translateY(-50%);
}

.logout{
    margin-top: 0.313rem;
    margin-left: 0.5rem;
    height: 4.3vh;
}


